In [1]:
#Data Structure - Tuples

In [2]:
tup = ()

In [3]:
type(tup)

tuple

In [4]:
tup2 = tuple()

In [5]:
type(tup2)

tuple

In [7]:
isinstance(tup2, tuple)

True

In [8]:
len(tup)

0

In [9]:
#Set value on tuples

In [10]:
tuple1 = (1,2,3,[1,2,3],(1,2,3))

In [11]:
tuple1

(1, 2, 3, [1, 2, 3], (1, 2, 3))

In [12]:
tuple1[3]

[1, 2, 3]

In [13]:
tuple1[4]

(1, 2, 3)

In [14]:
tuple1[4][1]

2

In [15]:
tuple1[3][2]

3

In [16]:
tuple1[3][2]+tuple1[4][2]

6

In [18]:
#Try to modify tuple and throw error 
tuple1[0] = 1

TypeError: 'tuple' object does not support item assignment

In [20]:
#Try to modify list inside tuple
tuple1[3].extend([4,5,6])

In [21]:
tuple1

(1, 2, 3, [1, 2, 3, 4, 5, 6], (1, 2, 3))

In [24]:
#Tuple functions

tuple2 = [1,10,12,23,9,32,64,88]

In [25]:
min(tuple2)

1

In [26]:
max(tuple2)

88

In [27]:
sum(tuple2)

239

In [29]:
#Cast tuple to list

In [30]:
list = list(tuple2)

In [31]:
list

[1, 10, 12, 23, 9, 32, 64, 88]